@charset "utf-8";

@import "../css3lib/css3lib.scss";

@include keyframes(pulse, webkit moz spec){
    0% {
        opacity: 1;   
        @include transform(scale(1));
    }
    50% {
        opacity: 0.7;   
        @include transform(scale(0.9));
    }
    100% {
        opacity: 1;   
        @include transform(scale(1));
    }
};

.ss{
    @include transform(rotate(-4deg) translate(6px, 18px) scale(1));
}